# --- ENVIRONMENT VARIABLES (Day 4: Setup & Day 8: Deployment) ---

# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Connection (Day 6)
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/vibestack

# Security (Day 7: JWT)
JWT_SECRET=your_super_secret_key_12345

# Cloudinary (Day 8: Advanced Vibe)
CLOUD_NAME=your_cloud_name
API_KEY=your_api_key
API_SECRET=your_api_secret
